@import '/src/styling/variables.scss';

.button {
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;

  &-primary {
    background-color: $accent;
    color: white;
    padding: 1rem;
    border: none;
    min-width: 250px;
    border: solid 2px $accent;
    font-weight: bold;
    outline: none;

    &:hover {
      background-color: white;
      color: $accent;
      box-shadow: 0px 3px 10px 3px rgba($color: $accent, $alpha: 0.3);
    }
  }

  &-link {
    color: $accent;
    font-weight: bold;
    background-color: rgba($color: #000000, $alpha: 0);
    border: none;
    outline: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
