@import '/src/styling/variables.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $almostDark, $alpha: 0.7);

  display: flex;
  align-items: center;
  justify-content: center;

  & > .modal-content {
    position: relative;
    background-color: $white;
    padding: 2rem;
    width: 75vw;
    border-radius: 5px;
    max-height: 90vh;
    animation: pop-in 0.5s;

    & > .modal-close {
      position: absolute;
      top: -2rem;
      right: -2rem;
      font-size: 1.5rem;
      color: $white;
      cursor: pointer;

      &:hover {
        color: $accent;
      }
    }
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
