@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import './variables.scss';

body {
  background-color: $background;
}

* {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
}
