@import '/src/styling/variables.scss';

.gallery {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: solid 1px $almostWhite;

  & > .button {
    display: block;
    margin: auto;
  }

  &-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 1rem;
  }
}
