.media {
  height: 100%;
  width: 100%;

  & .image-wrapper {
    position: relative;

    & > img {
      margin: auto;
      max-width: 100%;
      max-height: 50%;
    }
  }

  & .iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
